.ads-container {
    padding: 10px;
    margin: auto;
    background-color: var(--tg-theme-bg-color, #f9f9f9);
    box-shadow: 6px 6px 14px 2px rgba(0, 0, 0, 0.1);
    color: var(--tg-theme-text-color, #333);
    border-radius: 10px;
    max-width: 95%;
}

.ads-header {
    margin: auto;
    color: var(--tg-theme-text-color, #333);
}

h1 {
    text-align: center;
    color: var(--tg-theme-text-color, #333);
    margin-bottom: 20px;
}

.no-ads-message {
    color: var(--tg-theme-subtitle-text-color, #777);
    font-size: 16px;
    text-align: center;
}

.ads-list {
    list-style-type: none;
    padding: 0;
}

.ad-item {
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.ad-text {
    margin-bottom: 10px;
    max-width: calc(100% - 50px);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
}

.ad-actions {
    text-align: right;
}

.ad-link {
    padding: 5px 15px;
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-link-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deactivate-button-ads {
    padding: 5px;
    background-color: transparent;
    border: 1px solid #ff4d4d;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.loader {
    width: 50px;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#f03355) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation:l4 1s infinite steps(10);
  }
  @keyframes l4 {to{transform: rotate(1turn)}}

p {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: var(--tg-theme-text-color, #333);
}
