.ads-container {
    padding: 10px;
    margin: auto;
    background-color: var(--tg-theme-bg-color, #f9f9f9);
    box-shadow: 6px 6px 14px 2px rgba(0, 0, 0, 0.1);
    color: var(--tg-theme-text-color, #333);
    border-radius: 10px;
    max-width: 95%;
}

.ads-header {
    margin: auto;
    color: var(--tg-theme-text-color, #333);
}

h1 {
    text-align: center;
    color: var(--tg-theme-text-color, #333);
    margin-bottom: 20px;
}

.no-ads-message {
    color: var(--tg-theme-subtitle-text-color, #777);
    font-size: 18px;
    text-align: center;
}

.ads-list {
    list-style-type: none;
    padding: 0;
}

.ad-item {
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.ad-text {
    margin-bottom: 10px;
    max-width: calc(100% - 50px);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
}

.ad-actions {
    text-align: right;
}

.ad-link {
    padding: 5px 15px;
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-link-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deactivate-button-ads {
    padding: 5px;
    background-color: transparent;
    border: 1px solid #ff4d4d;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease, color 0.2s ease;
}

p {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: var(--tg-theme-text-color, #333);
}
