.autosearch-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: auto;
    background-color: var(--tg-theme-bg-color, #f9f9f9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: var(--tg-theme-text-color, #333);
}

.search-list {
    list-style-type: none;
    padding: 0;
}

.search-item {
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.search-text {
    margin-bottom: 10px;
    word-wrap: break-word;
    text-align: left;
}

.search-actions {
    text-align: right;
}

.deactivate-button-sc {
    padding: 5px;
    background-color: transparent;
    border: 1px solid #ff4d4d;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease, color 0.2s ease;
}

p {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.no-searches-container {
    text-align: center;
    margin-top: 20px;
}

.no-searches-message {
    font-size: 18px;
    color: var(--tg-theme-subtitle-text-color, #777);
    margin-bottom: 20px;
}

.how-save-ad-image {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}